extends layout

append content
	meta(charset='UTF-8')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	meta(http-equiv='X-UA-Compatible', content='ie=edge')
	title Google
	link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css',integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
	link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.4.1/css/all.css', integrity='sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz', crossorigin='anonymous')
	script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
	script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')

block append nav
	nav.navbar.navbar-expand-lg.navbar-light.bg-white
		button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
			span.navbar-toggler-icon
		#navbarSupportedContent.collapse.navbar-collapse
			ul.navbar-nav.ml-auto
				li.nav-item
					a.nav-link.text-body(href='#') Gmail
				li.nav-item
					a.nav-link.text-body(href='#') Images
				li.nav-item.dropdown.text-body
					a#navbarDropdown.nav-link.text-body(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
						i.fas.fa-grip-horizontal
					.dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdown')
						.container
							.row.m-1
								.col.border.p-1.mr-1 1
								.col.border.p-1 2
				li.nav-item.text-body.ml-2
					button.btn.btn-primary(type='button') Sing In

block append main
	.d-flex.align-items-center.flex-grow-1
				.container
					.row
						.col.text-center
							img(src='https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png', alt='Logo')
					.row
						.col-sm-5.mx-auto.my-3
							.input-group
								input#search-input.form-control(type='text', autofocus='')
								.input-group-append
									button#btn-input.input-group-text
										i.fas.fa-microphone
					.d-flex.flex-sm-row.flex-column.justify-content-center
						button.btn.btn-light.mr-sm-3.mb-sm-0.mb-2(type='button') Google Search
						button.btn.btn-light(type='button') I'm Feeling Lucky

block append footer
	.container-fluid
		.row
			.col-12.bg-light.border-top.border-bottom
				p.text-dark.my-2.bg-light Poland
	.row.justify-content-between.m-0.bg-light
		.d-flex
			ul.nav.nav-pills
				li.nav-item
					a.nav-link.text-dark(href='#') Advertisin
				li.nav-item
					a.nav-link.text-dark(href='#') Business
				li.nav-item
					a.nav-link.text-dark(href='#') About
		.d-flex
			ul.nav.nav-pills
				li.nav-item
					a.nav-link.text-dark(href='#') Privacy
				li.nav-item
					a.nav-link.text-dark(href='#') Terms
				li.nav-item
					a.nav-link.text-dark(href='#') Settings